@media (max-width: 768px) {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.4rem;
    padding-top: 48px;
  }

  .fondacontainer {
    background-color: #4d59ef;
  }

  .infos {
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .icone1Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 140px;
  }

  .icone2Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 222px;
  }

  .icone3Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 298px;
  }

  .icone4Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 395px;
  }

  .icone5Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 487px;
  }

  .icone6Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 575px;
  }

  .icone7Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 660px;
  }

  .icone8Container {
    display: flex;
    position: absolute;
    left: 28%;
    top: 730px;
  }

  .icone1 {
    padding-top: 40px;
  }

  .icone2 {
    padding-top: 40px;
  }

  .icone3 {
    padding-top: 40px;
  }

  .icone4 {
    padding-top: 40px;
  }

  .icone5 {
    padding-top: 40px;
  }

  .icone6 {
    padding-top: 40px;
  }

  .icone7 {
    padding-top: 40px;
  }

  .icone8 {
    padding-top: 40px;
  }

  /* .infos {
    line-height: 64px;
    word-spacing: 2px;
  } */

  .registre {
    width: 25vw;
    display: flex;
    flex-direction: column;
  }

  .columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 39px;
  }
}

/* .text {
    position: absolute;
  } */

/* .index1 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 20px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index2 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index3 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index4 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index5 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index6 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.index7 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-right: 55px;
}

.index8 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding-top: 65px;
  font-size: 1.2rem;
  padding-left: 26px;
}

.pdf1 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf2 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf3 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf4 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf5 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf6 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf7 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
}

.pdf8 {
  position: absolute;
  padding-left: 226px;
  color: rgb(77, 89, 239);
  padding-top: 25px;
  padding-left: 37px;
} */
