.navbarWrap {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 10%;
}

.logo {
  width: 20%;
  margin-bottom: 100px;
  margin-left: 24px;
}

.linkNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
